/* Base styles */
body {
  font-size: 16px;
  color: #fff;
  background-color: #612311;
  box-sizing: border-box;
}

section h2 {

}
/* desktop device only*/
@media (min-width: 992px) {
	section {
		width: 33%
	}
}
/* tablet device only*/
@media (min-width: 768px) and (max-width: 991)  {

}
/* mobile device only*/
@media (max-width: 767px) {

}